body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  background-color: #fff;
  color: #6f8ba4; }

a {
  text-decoration: none !important; }

.heading-primary {
  font-size: 2.8rem;
  font-weight: 400; }
  .heading-primary--main {
    display: block;
    line-height: 4.6rem;
    letter-spacing: 0.93px;
    color: #1e3056; }
  .heading-primary--sub {
    display: block;
    line-height: 4.6rem;
    letter-spacing: 1.75px;
    color: #3b566e; }

.heading-secondary {
  color: #fff;
  font-size: 3.6rem;
  font-weight: 400;
  letter-spacing: 1.4px;
  line-height: 4.6rem; }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 400;
  color: #3b566e;
  letter-spacing: 0.7px;
  margin-bottom: 1.5rem; }

.paragraph {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: inherit;
  letter-spacing: 1px;
  line-height: 2.8rem;
  color: #6f8ba4; }
  .paragraph:not(:last-child) {
    margin-top: 3rem; }

.paragraph-features {
  font-weight: 400;
  font-size: 1.4rem;
  color: #6f8ba4;
  letter-spacing: 0.88px;
  line-height: 2.6rem;
  margin-bottom: 2rem; }

.about__heading {
  color: #333d49;
  font-weight: 400;
  font-size: 2.4rem;
  letter-spacing: 1.75px;
  line-height: 3.8rem; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-small {
  margin-bottom: 2rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-top-small {
  margin-top: 2rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-large {
  margin-top: 6rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.align-start {
  align-self: flex-start; }

.flex-basis-40 {
  flex-basis: 45%; }

.flex-basis-25 {
  flex-basis: 25%; }

.flex-basis-35 {
  flex-basis: 35%; }

.flex-basis-16 {
  flex-basis: 16%; }

.active {
  background-image: linear-gradient(135deg, #29323c, #485563 100%);
  color: #fff; }

.features {
  display: flex;
  justify-content: center;
  align-items: center; }

.features-item {
  display: block;
  flex-basis: 22%;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 2px 4.8rem 0 rgba(0, 0, 0, 0.06);
  margin: 2rem;
  margin-bottom: 3rem;
  transition: all 0.3s;
  overflow: hidden;
  position: relative; }
  .features-item__round {
    border-radius: 4rem 0 4rem 4rem;
    padding: 3rem; }
    .features-item__round:hover {
      background-image: linear-gradient(135deg, #29323c 0%, #485563 100%);
      color: #fff;
      transform: translateY(-1rem); }
    .features-item__round:hover > * {
      color: #fff; }
  .features-item__rect {
    border-radius: 3px; }
    .features-item__rect:hover {
      transform: translateY(-1rem); }
    .features-item__rect--icon {
      width: 4.2rem;
      height: 4.2rem;
      line-height: 4.2rem;
      margin: auto;
      position: relative;
      margin-bottom: 2rem;
      margin-top: -2rem;
      background-color: #eee;
      border-radius: 2.2rem 0 2.2rem 2.2rem;
      text-align: center;
      color: #333d49; }
  .features-item__heading {
    text-align: center;
    background-image: linear-gradient(135deg, #29323c 0%, #485563 100%);
    padding: 4rem; }
    .features-item__heading--main {
      font-weight: 700;
      font-size: 1.6rem;
      color: #fff;
      letter-spacing: 1px;
      width: 100%; }
  .features-item__icon {
    width: 6.7rem;
    height: 6.7rem;
    line-height: 7rem;
    margin: auto;
    position: relative;
    margin-bottom: 2rem;
    background-color: #eee;
    border-radius: 2.2rem 0 2.2rem 2.2rem; }
    .features-item__icon i {
      font-size: 2.8rem;
      color: #333d49; }

.btn, .btn:link, .btn:visited {
  padding: 1rem 2.5rem;
  border-radius: 3rem 0 3rem 3rem;
  display: inline-block;
  transition: all 0.3s;
  position: relative;
  border: none;
  cursor: pointer;
  overflow: hidden; }

.btn-primary {
  color: #fff;
  font-size: 1.2rem;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  font-weight: 700;
  box-shadow: 0 0.4rem 0.5rem 0 rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(-135deg, #29323c 0%, #485563 100%); }

.btn-secondary {
  color: #333d49;
  background-color: #fff;
  width: 45%;
  margin-right: 2.5rem;
  margin-bottom: 3rem;
  box-shadow: 0 2px 2rem 0 rgba(0, 0, 0, 0.06);
  font-weight: 400;
  font-size: 1.4rem;
  letter-spacing: 0.88px;
  line-height: 2rem;
  position: relative;
  backface-visibility: hidden; }

.btn-white {
  color: #333d49;
  background-color: #fff;
  font-weight: 600;
  line-height: 2rem;
  letter-spacing: 0.88px;
  font-size: 1.6rem; }

.btn:hover {
  background-image: linear-gradient(135deg, #29323c, #485563 100%);
  color: #fff;
  box-shadow: 0 2px 5px 0 rgba(51, 61, 73, 0.24);
  transform: translateY(-3px); }

.underline {
  border-bottom: 2px solid #29323c;
  width: 2%; }

.about {
  display: flex;
  flex-direction: row; }
  .about__image-back {
    flex-basis: 60%;
    z-index: 1; }
    .about__image-back--img {
      width: 100%;
      border-radius: 4rem 5px 4rem 4rem;
      box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06); }
  .about__text {
    flex-basis: 40%;
    border-radius: 4rem 5px 4rem 4rem;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
    background-color: #fff;
    padding: 3rem;
    padding-top: 1rem;
    align-self: center;
    z-index: 2; }
    .about__text--1 {
      margin-left: -10rem; }
    .about__text--2 {
      margin-right: -10rem; }

.header {
  height: 100vh; }
  .header__logo-box {
    margin-top: 1.2rem;
    margin-left: 2rem; }
  .header__logo {
    height: 6.5rem; }
  .header__text-box {
    flex-basis: 40%;
    margin-top: 15rem; }
  .header__hero {
    flex-basis: 55%; }
    .header__hero-img {
      width: 100%; }

.nav {
  position: fixed;
  width: 100%;
  box-shadow: 0 0.2px 28px 0 rgba(0, 0, 0, 0.06);
  background-color: #fff;
  z-index: 1; }
  .nav__items {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .nav__list {
    list-style: none; }
  .nav__item {
    display: inline-block;
    padding: 0 2rem; }
  .nav__link {
    color: #6f8ba4;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 4rem;
    letter-spacing: 1px; }
  .nav__cta {
    color: #6f8ba4; }

.container {
  max-width: 120rem;
  margin: 0 auto;
  overflow: hidden; }

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.content-center {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center; }

.section {
  padding-top: 10rem;
  padding-bottom: 8rem; }

.section-medium {
  padding-top: 8rem;
  padding-bottom: 8rem; }

.services {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

.hero-right {
  flex-basis: 50%; }
  .hero-right__img {
    width: 100%; }

.services-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2rem; }

.footer {
  background-color: #f7fafd;
  padding-bottom: 2rem;
  padding-top: 6rem; }
  .footer__heading {
    font-weight: 400;
    font-size: 1.6rem;
    color: #333d49;
    letter-spacing: 0.88px;
    padding: 0 1rem;
    margin-left: 1.5rem; }
  .footer__logo {
    margin-top: -1.5rem; }
  .footer__info {
    flex-basis: 35%;
    margin-left: 2.5rem; }
  .footer__nav-links {
    flex-basis: 16%; }
    .footer__nav-links-icon {
      padding: 0 1rem; }
    .footer__nav-links ul {
      list-style: none; }
      .footer__nav-links ul li {
        padding: 0.3rem 0; }
      .footer__nav-links ul li a {
        color: #6f8ba4;
        font-weight: 400;
        font-size: 1.4rem;
        letter-spacing: 0.88px; }
        .footer__nav-links ul li a:hover {
          color: #333d49; }
  .footer__contact-info {
    flex-basis: 25%; }
    .footer__contact-info p {
      display: block;
      color: #6f8ba4;
      font-size: 1.4rem;
      line-height: 2.6rem;
      letter-spacing: 0.88px; }
      .footer__contact-info p:not(:last-child) {
        margin-bottom: 0.8rem; }
  .footer__social ul {
    list-style: none; }
    .footer__social ul li {
      display: inline-block; }
      .footer__social ul li:nth-child(2) {
        margin: 0 2rem; }
    .footer__social ul li a {
      color: #6f8ba4; }
  .footer .copyright {
    color: #6f8ba4;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 0.88px;
    text-align: center;
    padding-top: 3rem;
    margin-top: 5rem;
    border-top: 1px solid #dae6fd; }

.cover {
  height: 55vh;
  position: relative;
  background-image: linear-gradient(to right bottom, rgba(72, 85, 99, 0.8), rgba(41, 50, 60, 0.8)), url(../assets/img/header-sub.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .cover__links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1rem; }
    .cover__links a {
      color: #fff;
      font-weight: 400;
      font-size: 1.4rem; }

.section-features {
  padding-top: 0;
  margin-top: -16rem; }

.section-services {
  background-color: #f7fafd; }

.section-services-tech {
  background-color: #fff; }

.section-why-us {
  background-color: #f7fafd; }

.section-cta {
  background-image: linear-gradient(rgba(41, 50, 60, 0.8), rgba(72, 85, 99, 0.8)), url(../assets/img/header.jpg);
  background-size: cover;
  background-position: top; }

.cta {
  text-align: center; }

.cta-text {
  color: #fff;
  margin-bottom: 4rem;
  font-size: 2.5rem;
  display: block; }
