/* Media Queries
0-600px: Phone
600-900px: Tablet Portrait
900-1200px: Tablet Landscape
[1200px - 1800px]: normal styles
1800px +: Big Desktop Screens


$breakpoints:
- phone
- tab-port
- tab-land
- big-desk
*/
body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  background-color: #fff;
  color: #6f8ba4; }

a {
  text-decoration: none !important; }

.heading-primary {
  font-size: 2.8rem;
  font-weight: 400; }
  .heading-primary--main {
    display: block;
    line-height: 4.6rem;
    letter-spacing: 0.93px;
    color: #1e3056; }
  .heading-primary--sub {
    display: block;
    line-height: 4.6rem;
    letter-spacing: 1.75px;
    color: #3b566e; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--sub {
        margin-top: 4rem !important; } }

.heading-secondary {
  color: #fff;
  font-size: 3.6rem;
  font-weight: 400;
  letter-spacing: 1.4px;
  line-height: 4.6rem; }

.heading-tertiary, .extend-heading-tertiary {
  font-size: 1.6rem;
  font-weight: 400;
  color: #3b566e;
  letter-spacing: 0.7px;
  margin-bottom: 1.5rem; }

.extend-heading-tertiary {
  font-weight: 700; }

.paragraph {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: inherit;
  letter-spacing: 1px;
  line-height: 2.8rem;
  color: #6f8ba4; }
  .paragraph:not(:last-child) {
    margin-top: 3rem; }
  @media only screen and (max-width: 37.5em) {
    .paragraph {
      padding: 0 1rem; } }

.paragraph-features {
  font-weight: 400;
  font-size: 1.4rem;
  color: #6f8ba4;
  letter-spacing: 0.88px;
  line-height: 2.6rem;
  margin-bottom: 2rem; }

.about__heading {
  color: #333d49;
  font-weight: 400;
  font-size: 2.4rem;
  letter-spacing: 1.75px;
  line-height: 3.8rem; }

.contact-box__heading {
  color: #fff;
  font-weight: 400;
  font-size: 2.4rem;
  letter-spacing: 1.75px;
  line-height: 3.8rem; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

::selection {
  background-color: #6f8ba4;
  color: #fff; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-small {
  margin-bottom: 2rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-top-small {
  margin-top: 2rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-large {
  margin-top: 6rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.align-start {
  align-self: flex-start; }

.flex-basis-40 {
  flex-basis: 45%; }

.flex-basis-55 {
  flex-basis: 55%; }

.flex-basis-25 {
  flex-basis: 25%; }

.flex-basis-35 {
  flex-basis: 35%; }

.flex-basis-16 {
  flex-basis: 16%; }

.active {
  background-image: linear-gradient(135deg, #29323c, #485563 100%);
  color: #fff; }

.features {
  display: flex;
  justify-content: center;
  align-items: center; }

.features-item {
  display: block;
  flex-basis: 22%;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 2px 4.8rem 0 rgba(0, 0, 0, 0.06);
  margin: 2rem;
  margin-bottom: 3rem;
  transition: all 0.3s;
  overflow: hidden;
  position: relative; }
  .features-item__round {
    border-radius: 4rem 0 4rem 4rem;
    padding: 3rem; }
    .features-item__round:hover {
      background-image: linear-gradient(135deg, #29323c 0%, #485563 100%);
      color: #fff;
      transform: translateY(-1rem); }
    .features-item__round:hover > * {
      color: #fff; }
    @media only screen and (max-width: 37.5em) {
      .features-item__round {
        border-radius: 2rem 0 2rem 2rem;
        padding: 1rem;
        flex-basis: auto;
        text-align: center; }
        .features-item__round p {
          display: none; } }
  .features-item__rect {
    border-radius: 3px; }
    .features-item__rect:hover {
      transform: translateY(-1rem); }
    .features-item__rect--icon {
      width: 4.2rem;
      height: 4.2rem;
      line-height: 4.2rem;
      margin: auto;
      position: relative;
      margin-bottom: 2rem;
      margin-top: -2rem;
      background-color: #eee;
      border-radius: 2.2rem 0 2.2rem 2.2rem;
      text-align: center;
      color: #333d49; }
  .features-item__heading {
    text-align: center;
    background-image: linear-gradient(135deg, #29323c 0%, #485563 100%);
    padding: 4rem; }
    .features-item__heading--main {
      font-weight: 700;
      font-size: 1.6rem;
      color: #fff;
      letter-spacing: 1px;
      width: 100%; }
  .features-item__icon {
    width: 6.7rem;
    height: 6.7rem;
    line-height: 7rem;
    margin: auto;
    position: relative;
    margin-bottom: 2rem;
    background-color: #eee;
    border-radius: 2.2rem 0 2.2rem 2.2rem; }
    @media only screen and (max-width: 37.5em) {
      .features-item__icon {
        width: 4.7rem;
        height: 4.7rem;
        line-height: 5.5rem; } }
    .features-item__icon i {
      font-size: 2.8rem;
      color: #333d49; }
      @media only screen and (max-width: 37.5em) {
        .features-item__icon i {
          font-size: 2rem; } }

.btn, .btn:link, .btn:visited {
  border-radius: 3rem 0 3rem 3rem;
  display: inline-block;
  transition: all 0.3s;
  position: relative;
  border: none;
  cursor: pointer;
  overflow: hidden; }

.btn-primary {
  padding: 1rem 2.5rem;
  color: #fff;
  font-size: 1.2rem;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  font-weight: 700;
  box-shadow: 0 0.4rem 0.5rem 0 rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(-135deg, #29323c 0%, #485563 100%); }

.btn-secondary, .btn-ter {
  padding: 1rem 2.5rem;
  color: #333d49;
  background-color: #fff;
  width: 45%;
  margin-right: 2.5rem;
  margin-bottom: 3rem;
  box-shadow: 0 2px 2rem 0 rgba(0, 0, 0, 0.06);
  font-weight: 400;
  font-size: 1.4rem;
  letter-spacing: 0.88px;
  line-height: 2rem;
  position: relative;
  backface-visibility: hidden; }
  @media only screen and (max-width: 75em) {
    .btn-secondary, .btn-ter {
      margin-right: 1.5rem; } }
  @media only screen and (max-width: 56.25em) {
    .btn-secondary, .btn-ter {
      margin-right: 1.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .btn-secondary, .btn-ter {
      margin: 0 auto;
      margin-bottom: 3rem;
      line-height: 1.3rem; } }

.btn-ter {
  padding: 3.5rem 0 2rem 0 !important;
  text-align: center;
  cursor: none; }

.btn-white {
  color: #333d49;
  background-color: #fff;
  padding: 1rem 2.5rem;
  font-weight: 600;
  line-height: 2rem;
  letter-spacing: 0.88px;
  font-size: 1.6rem; }

.btn:hover {
  background-image: linear-gradient(135deg, #29323c, #485563 100%);
  color: #fff;
  box-shadow: 0 2px 5px 0 rgba(51, 61, 73, 0.24);
  transform: translateY(-3px); }

.underline {
  border-bottom: 2px solid #29323c;
  width: 2%; }

.about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 37.5em) {
    .about {
      flex-direction: column;
      padding: 2rem; } }
  .about__image-back {
    flex-basis: 60%;
    z-index: 1; }
    .about__image-back--img {
      width: 100%;
      border-radius: 4rem 5px 4rem 4rem;
      box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06); }
  .about__text {
    flex-basis: 40%;
    border-radius: 4rem 5px 4rem 4rem;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
    background-color: #fff;
    padding: 3rem;
    padding-top: 1rem;
    z-index: 2; }
    .about__text--1 {
      margin-left: -10rem; }
      @media only screen and (max-width: 37.5em) {
        .about__text--1 {
          margin: 0 auto;
          margin-top: -18rem; } }
    .about__text--2 {
      margin-right: -10rem; }
      @media only screen and (max-width: 37.5em) {
        .about__text--2 {
          margin: 0 auto;
          margin-bottom: -18rem; } }

.contact-box {
  display: flex;
  flex-direction: row;
  border-radius: 2rem 5px 2rem 2rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-color: transparent;
  background-color: #f7fafd;
  overflow: hidden; }
  @media only screen and (max-width: 37.5em) {
    .contact-box {
      flex-direction: column-reverse; } }
  .contact-box__info {
    flex-basis: 30%;
    overflow: hidden;
    background-image: linear-gradient(135deg, #29323c 0%, #485563 100%);
    color: #fff !important;
    padding: 2rem; }
    .contact-box__info > * {
      margin-bottom: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .contact-box__info {
        flex-basis: 40%;
        text-align: center; } }
    @media only screen and (max-width: 37.5em) {
      .contact-box__info {
        display: flex;
        flex-flow: row wrap;
        text-align: center;
        margin-top: 1rem; }
        .contact-box__info > * {
          margin: 0 auto;
          padding: 0.5rem 1rem; }
        .contact-box__info h2 {
          align-self: center;
          flex-basis: 100%; } }

.form {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  color: #333d49; }
  @media only screen and (max-width: 37.5em) {
    .form {
      flex-direction: column;
      justify-content: center;
      align-items: center; } }
  .form__group {
    width: 50%;
    padding-right: 3rem; }
    .form__group__group:not(:last-child) {
      margin-bottom: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .form__group {
        width: 100%; } }
  .form__input {
    font-size: 1.4rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 3rem;
    background-color: white;
    border-radius: 2px;
    border: 1px solid #dae6fd;
    width: 100%; }
    .form__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid #55c57a; }
    .form__input::-webkit-input-placeholder {
      color: #999; }
    .form__input:focus:invalid {
      border-bottom: 3px solid orangered; }
  .form__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s; }
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }
  .form__group-textarea {
    flex-basis: 100%;
    margin-top: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .form__group-textarea {
        width: 100%; } }
  .form__textarea {
    width: 100%;
    border: 1px solid #dae6fd;
    font-family: inherit;
    font-size: 1.4rem;
    padding: 1.5rem 3rem; }
    .form__textarea:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid #55c57a; }
    .form__textarea::-webkit-input-placeholder {
      color: #999; }
    .form__textarea:focus:invalid {
      border-bottom: 3px solid orangered; }
  .form__textarea:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-2rem); }

.header {
  height: 100vh; }
  @media only screen and (max-width: 56.25em) {
    .header {
      height: 80vh; } }
  @media only screen and (max-width: 37.5em) {
    .header {
      height: 100vh; } }
  .header__logo-box {
    margin-top: 1.2rem;
    margin-left: 2rem; }
  .header__logo {
    height: 6.5rem; }
  .header__content {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    @media only screen and (max-width: 37.5em) {
      .header__content {
        flex-direction: column; } }
  .header__text-box {
    flex-basis: 40%;
    margin-top: 15rem; }
    @media only screen and (max-width: 75em) {
      .header__text-box {
        width: 50%;
        padding-top: 10rem; } }
    @media only screen and (max-width: 56.25em) {
      .header__text-box {
        margin: 0 auto;
        padding-top: 10rem;
        width: 50%; } }
    @media only screen and (max-width: 37.5em) {
      .header__text-box {
        margin: 0 auto;
        text-align: center;
        width: 100%; } }
  .header__hero {
    flex-basis: 55%; }
    .header__hero-img {
      width: 100%; }

.nav {
  position: fixed;
  width: 100%;
  box-shadow: 0 0.2px 28px 0 rgba(0, 0, 0, 0.06);
  background-color: #fff;
  z-index: 1; }
  .nav__items {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    @media only screen and (max-width: 56.25em) {
      .nav__items {
        flex-direction: row-reverse;
        justify-content: space-between; } }
  .nav__list {
    list-style: none;
    margin: 0 auto; }
    .nav__list li:hover > ul {
      display: block; }
    @media only screen and (max-width: 56.25em) {
      .nav__list {
        display: none;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 8rem;
        background-color: #fff;
        transition: all 0.3s ease-in; } }
  .nav__item {
    display: inline-block;
    padding: 0 2rem; }
    @media only screen and (max-width: 56.25em) {
      .nav__item {
        display: block;
        width: 100%;
        padding: 1rem 2rem; }
        .nav__item:not(:last-child) {
          border-bottom: 0.5px solid #dae6fd; } }
  .nav__link {
    color: #6f8ba4;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 4rem;
    letter-spacing: 1px; }
    @media only screen and (max-width: 56.25em) {
      .nav__link--arrow {
        float: right;
        font-size: 20px; } }
  .nav__cta {
    color: #6f8ba4; }
  .nav__trigger {
    display: none;
    color: #6f8ba4;
    margin-right: 1rem; }
    @media only screen and (max-width: 56.25em) {
      .nav__trigger {
        display: block; } }

.dropdown {
  position: relative; }

.dropdown-content {
  display: none;
  background-color: #f7f7f7;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: absolute;
  min-width: 16rem;
  z-index: 1;
  list-style: none; }
  .dropdown-content-sub {
    top: 0;
    left: 100%;
    min-width: 20rem; }
  @media only screen and (max-width: 56.25em) {
    .dropdown-content {
      position: static;
      box-shadow: none;
      width: 100%;
      border-radius: 0; } }
  .dropdown-content__item {
    padding: 1rem;
    transition: all 0.2s;
    width: 100%; }
    .dropdown-content__item:not(:last-child) {
      border-bottom: 1px solid #dae6fd; }
    .dropdown-content__item:hover {
      background-color: #f5f5f5;
      border-left: 3px solid #29323c; }
    @media only screen and (max-width: 56.25em) {
      .dropdown-content__item:hover {
        border-left: none;
        background-color: #f7f7f7; } }
  .dropdown-content__link {
    color: #6f8ba4;
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 2rem;
    letter-spacing: 0.88px;
    width: 100%; }

.show {
  display: block; }

.container {
  max-width: 120rem;
  margin: 0 auto;
  overflow: hidden; }

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  @media only screen and (max-width: 37.5em) {
    .content {
      flex-direction: column; } }

.content-center {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center; }

.section {
  padding-top: 10rem;
  padding-bottom: 8rem; }

.section-medium {
  padding-top: 8rem;
  padding-bottom: 8rem; }

.services {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-basis: 45%; }
  @media only screen and (max-width: 56.25em) {
    .services {
      flex-basis: 60%;
      padding: 0 1rem; } }
  @media only screen and (max-width: 37.5em) {
    .services {
      align-items: center;
      justify-content: center; }
      .services p {
        text-align: center;
        padding: 0 1rem; } }

.hero-right {
  flex-basis: 50%; }
  .hero-right__img {
    width: 100%; }

.services-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2rem; }
  @media only screen and (max-width: 37.5em) {
    .services-items {
      justify-content: center;
      align-items: center;
      padding: 0 1rem; } }

.footer {
  background-color: #f7fafd;
  padding-bottom: 2rem;
  padding-top: 6rem; }
  @media only screen and (max-width: 37.5em) {
    .footer {
      padding: 0 1rem;
      padding-top: 6rem; } }
  .footer__heading {
    font-weight: 400;
    font-size: 1.6rem;
    color: #333d49;
    letter-spacing: 0.88px;
    padding: 0 1rem; }
  .footer__logo {
    margin-top: -1.5rem; }
  .footer__info {
    display: flex;
    flex-direction: column;
    flex-basis: 35%; }
    @media only screen and (max-width: 37.5em) {
      .footer__info--text {
        padding: 0 1rem; } }
  .footer__box {
    display: flex;
    justify-content: space-between;
    flex-basis: 25%; }
    @media only screen and (max-width: 37.5em) {
      .footer__box {
        justify-content: flex-start;
        margin-top: 2rem; } }
  @media only screen and (max-width: 37.5em) {
    .footer__links:nth-child(2) {
      padding: 0 6rem; } }
  .footer__nav-links-icon {
    padding: 0 1rem; }
  .footer__nav-links ul {
    list-style: none;
    padding: 2.8rem 0; }
    .footer__nav-links ul li {
      padding: 0.3rem 0; }
    .footer__nav-links ul li a {
      color: #6f8ba4;
      font-weight: 400;
      font-size: 1.4rem;
      letter-spacing: 0.88px; }
      .footer__nav-links ul li a:hover {
        color: #333d49; }
  .footer__contact-info {
    padding-top: 2.8rem; }
    .footer__contact-info p {
      display: block;
      color: #6f8ba4;
      font-size: 1.4rem;
      line-height: 2.6rem;
      letter-spacing: 0.88px;
      margin-bottom: 1rem; }
      @media only screen and (max-width: 37.5em) {
        .footer__contact-info p {
          padding: 0 1rem; } }
  @media only screen and (max-width: 37.5em) {
    .footer__social {
      padding: 0 1rem; } }
  .footer__social ul {
    list-style: none; }
    .footer__social ul li {
      display: inline-block; }
      .footer__social ul li:nth-child(2) {
        margin: 0 2rem; }
    .footer__social ul li a {
      color: #6f8ba4; }
  .footer .copyright {
    color: #6f8ba4;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 0.88px;
    text-align: center;
    padding-top: 3rem;
    margin-top: 5rem;
    border-top: 1px solid #dae6fd; }

.cover {
  height: 55vh;
  position: relative;
  background-image: linear-gradient(to right bottom, rgba(72, 85, 99, 0.8), rgba(41, 50, 60, 0.8)), url(../assets/img/header-sub.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }
  @media only screen and (max-width: 75em) {
    .cover {
      height: 30vh; } }
  @media only screen and (max-width: 56.25em) {
    .cover {
      height: 30vh; } }
  @media only screen and (max-width: 37.5em) {
    .cover {
      height: 30vh; } }
  .cover__links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem; }
    .cover__links a {
      color: #fff;
      font-weight: 400;
      font-size: 1.4rem;
      padding: 0 0.5rem; }

.section-features {
  padding-top: 0;
  margin-top: -16rem; }
  @media only screen and (max-width: 75em) {
    .section-features {
      margin-top: -30rem; } }
  @media only screen and (max-width: 56.25em) {
    .section-features {
      margin-top: -20rem; } }
  @media only screen and (max-width: 37.5em) {
    .section-features {
      display: none; } }

.section-services {
  background-color: #f7fafd; }

.section-services-tech {
  background-color: #fff; }

.section-why-us {
  background-color: #f7fafd; }

.section-cta {
  background-image: linear-gradient(rgba(41, 50, 60, 0.9), rgba(72, 85, 99, 0.9)), url(../assets/img/header-sub.jpg);
  background-size: cover;
  background-position: center; }

.cta {
  text-align: center; }

.cta-text {
  color: #fff;
  margin-bottom: 4rem;
  font-size: 2.5rem;
  display: block; }
  @media only screen and (max-width: 37.5em) {
    .cta-text {
      margin: 0 auto;
      margin-bottom: 2rem;
      padding: 0 1rem; } }

.section-contact {
  background-color: #fff; }

.apps-types {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 1rem; }
  @media only screen and (max-width: 37.5em) {
    .apps-types {
      flex-wrap: wrap; } }

@media only screen and (max-width: 75em) {
  .service-info {
    padding: 2rem; } }

@media only screen and (max-width: 56.25em) {
  .service-info {
    padding: 2rem; } }

@media only screen and (max-width: 37.5em) {
  .service-info {
    padding: 2rem; } }

.service-features {
  display: flex;
  justify-content: flex-start;
  margin-top: 6rem;
  margin-left: -4rem; }
  @media only screen and (max-width: 75em) {
    .service-features {
      margin-left: 0; } }
  @media only screen and (max-width: 56.25em) {
    .service-features {
      flex-wrap: wrap;
      margin-left: 0; } }
  @media only screen and (max-width: 37.5em) {
    .service-features {
      margin-left: 0;
      justify-content: flex-start;
      flex-wrap: wrap; } }
  .service-features__box {
    display: block;
    flex-basis: 40%;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 2px 4.8rem 0 rgba(0, 0, 0, 0.06);
    margin: 1rem;
    margin-bottom: 3rem;
    border-radius: 4rem 0 4rem 4rem;
    padding: 2rem;
    transition: all 0.3s;
    overflow: hidden;
    position: relative; }
