.cover {
  height: 55vh;
  position: relative;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../assets/img/header-sub.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  @include responsive(tab-land) {
    height: 30vh;
  }
  @include responsive(tab-port) {
    height: 30vh;
  }
  @include responsive(phone) {
    height: 30vh;
  }

  &__links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;

    a {
      color: $color-white;
      font-weight: 400;
      font-size: 1.4rem;
      padding: 0 0.5rem;
    }
  }
}
