.section-features {
  // background-color: $color-primary;
  padding-top: 0;
  margin-top: -16rem;
  @include responsive(tab-land) {
    margin-top: -30rem;
  }
  @include responsive(tab-port) {
    margin-top: -20rem;
  }
  @include responsive(phone) {
    display: none;
  }
}
.section-services {
  background-color: $color-background;
}
.section-services-tech {
  background-color: $color-white;
}
.section-why-us {
  background-color: $color-background;
}

.section-cta {
  background-image: linear-gradient(
      rgba($color-primary-dark, 0.9),
      rgba($color-primary-light, 0.9)
    ),
    url(../assets/img/header-sub.jpg);
  background-size: cover;
  background-position: center;
}
.cta {
  text-align: center;
}
.cta-text {
  color: $color-white;
  margin-bottom: 4rem;
  font-size: 2.5rem;
  display: block;
  @include responsive(phone) {
    margin: 0 auto;
    margin-bottom: 2rem;
    padding: 0 1rem;
  }
}

.section-contact {
  background-color: $color-white;
}
