body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: $default-font-size;
  line-height: 1.7;
  background-color: $color-white;
  color: $color-primary;
}

a {
  text-decoration: none !important;
}
