@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');
html {
  font-size: 63%;
}

body {
  font-family: 'Nunito', sans-serif;
}

.text {
  font-weight: 300;
  font-size: 0.5rem;
}
