//COLORS
$color-primary: #6f8ba4;
$color-primary-light: #485563;
$color-primary-dark: #29323c;

$color-secondary-light: #3b566e;
$color-secondary-dark: #333d49;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #1e3056;

$color-background: #f7fafd;

$color-dark-grey: #777;
$color-dark-grey-2: #999;

$color-white: #fff;
$color-white-gray: #f7f7f7;
$color-white-gray-2: #eee;

$color-black: #000;

//FONT
$default-font-size: 1.6rem;

// GRID
$max-width: 120rem;
