.about {
  display: flex;
  flex-direction: row;

  &__image-back {
    flex-basis: 70%;
    z-index: 1;
    &--img {
      width: 100%;
      border-radius: 4rem 5px 4rem 4rem;
      box-shadow: 0 2px 48px 0 rgba($color-black, 0.06);
    }
  }

  &__text {
    flex-basis: 30%;
    border-radius: 4rem 5px 4rem 4rem;
    box-shadow: 0 2px 48px 0 rgba($color-black, 0.06);
    background-color: rosybrown;
    padding: 3rem;
    z-index: 2;
    margin-left: -10rem;
  }
}
