.btn {
  &,
  &:link,
  &:visited {
    padding: 0.5rem 2rem;
    border-bottom-right-radius: 3rem;
    color: $color-black;
    display: inline-block;
    transition: all 0.2s;
    position: relative;
    font-size: $default-font-size;
    border: none;
    cursor: pointer;
  }

  &:hover {
    background-image: linear-gradient(
      -135deg,
      $color-primary-dark,
      $color-primary-light 100%
    );
    color: $color-white;
  }
  &:hover &-text {
    transform: translateX(-3px);
  }
}
