.btn {
  &,
  &:link,
  &:visited {
    padding: 0.5rem 2rem;
    border-bottom-right-radius: 3rem;
    color: $color-white;
    transition: all 0.2s;
    position: relative;
    font-size: $default-font-size;
    border: none;
    cursor: pointer;
  }
}
