.container {
  max-width: $max-width;
  margin: 0 auto;
  overflow: hidden;
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.content-center {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
}
.services {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
