.container {
  max-width: $max-width;
  margin: 0 auto;
  overflow: hidden;
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.content-center {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.section {
  padding-top: 10rem;
  padding-bottom: 8rem;
}
.section-medium {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.services {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
