.cover {
  height: 55vh;
  position: relative;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../assets/img/header-sub.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
