.footer {
  background-color: $color-background;

  &__info {
    flex-basis: 41%;
  }

  &__nav-links {
    flex-basis: 16%;

    &-icon {
      font-weight: 400;
    }
  }

  &__contact-info {
    flex-basis: 25%;
  }
}
