.header-sub {
  height: 55vh;
  position: relative;
  background-image: linear-gradient(
      rgba($color-primary-dark, 0.8),
      rgba($color-primary-light, 0.8)
    ),
    url(../assets/img/header-sub.jpg);
  background-size: contain;
  background-position: bottom;
}
